<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="quiz.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
<script src="quiz.js"></script>

</head>

<body x-ng-app="gameController" x-ng-controller="TTT_ctrl">

<div class="wintext"><div>
	  
<div id="pizza">
<div class="board">
          <div class="cell" x-ng-repeat="c in game.cells track by $index" x-ng-click="makeMove($index);">{{c}}</div>
        </div>
    </div>
  
 



</body>
</html>